#textdomain wesnoth-The_Dark_Hordes_Revised

#define TDHR_BIGMAP
    [background_layer]
        image=maps/background.webp
        scale_vertically=yes
        scale_horizontally=no
        keep_aspect_ratio=yes
    [/background_layer]
    [background_layer]
        image=maps/titlescreen.webp
        scale_vertically=yes
        scale_horizontally=no
        keep_aspect_ratio=yes
        base_layer=yes
    [/background_layer]
#enddef

#define TDHR_TRACK STAGE
    [story]
        [part]
            show_title=yes
            {TDHR_BIGMAP}
            {STAGE}
        [/part]
    [/story]
#enddef

#define TDHR_JOURNEY X Y
    [image]
        x,y={X},{Y}
        file=misc/new-journey.png
        delay=300
        centered=yes
    [/image]
#enddef

#define JOURNEY_A_NEW_CHANCE_NEW
    {NEW_BATTLE 310 256}
#enddef

#define JOURNEY_A_NEW_CHANCE_OLD
    {OLD_BATTLE 310 256}
#enddef
