#textdomain wesnoth-The_Dark_Hordes_Revised

#define STORYTXT_INTRO
    [story]
        [part]
            title= _ "Episode I: <b>Escape the Living</b>"
            story= _ "In the great Battle of the Stone of Erzen, the brothers Gwiti and Nati Ha’atel showed their skills for the first time: believing that their side was losing the battle, they called upon the corpses of former enemies to rise again and fight on their side."
            {TDHR_BIGMAP}
        [/part]
        [part]
            story= _ "However, not only was this forbidden — but rash as well. The cavalry meant to come as reinforcements instead clashed with the undead legions, and so the battle was lost where it would have been won had it not been for these two dark sorcerers."
            background=story/erzen.webp
        [/part]
        [part]
            story= _ "The Ha’atel brothers fled. However, they were seized by the Wesnothians not long after. They were clapped in irons, marched onto a ship with no rudder, and sent off to drown in the sea, for the Wesnothians feared that their corpses might only rise again."
            background=story/shore.webp
        [/part]
        [part]
            story= _ "But Fate intervened. The ship carrying Gwiti and Nati was beset by a sudden storm and disintegrated, separating the brothers and washing them both ashore. This was the beginning of the Rise of the Dark Hordes."
            {TDHR_BIGMAP}
        [/part]
    [/story]
#enddef

#define STORYTXT_BROTHER_AGAINST_BROTHER
    [story]
        [part]
            story= _ "Gwiti followed the words of the Master of the Voice and explored the unknown land..."
        [/part]
    [/story]
#enddef
